/*
COPYRIGHT 2026 by the Open Rails project.

This file is part of Open Rails.

Open Rails is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Open Rails is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Open Rails.  If not, see <http://www.gnu.org/licenses/>.
*/

#checkboxDiv {
    text-align: right;
}

.div {
    white-space: pre-line; /* handle \n as newline in the text */
    field-sizing: content; /* size depending on content */
    border: 1px solid gray;
    margin-left: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}
