log.*.xml
Program/*
Source/**/*.user
Source/**/obj
Source/*.suo
Source/Contrib/TimetableEditor/*.lps
Source/Contrib/TimetableEditor/*.res
Source/Contrib/TimetableEditor/backup
Source/Contrib/TimetableEditor/lib
Source/Locales/**/*.bak
