/* Styles yto implement a simple sliding accordion */
/* Based on http://www.jacklmoore.com/notes/jquery-accordion-tutorial/ */ 
ul.accordion > li {
  overflow: hidden;
}
ul.accordion > li a {
	text-decoration: none !important;
}
div.accordion_body {
  display: none;
}
