
/* Developer: Used as help for cells alignment*/
/*td{
	border: blue 1px solid;
}*/

div, th { text-align: center; }
table { margin: auto; }
tr td { text-align: right; color: yellow; }
td { padding: 2px; }