/* iev8.css */
/* To override the template.css to cope with IEv8's shortcomings */

.container {
  width: 970px !important;
}

.logo_text {
	/* Provide a dark outline so the text is clear whatever the background */
  text-shadow: 2px 2px 2px #000000;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  display: block;
}
	
.footer_column {
	background-color: #444; /* Because background-image linear-gradient is not supported */
}
