/* template.css */
/* Minified using www.cssminifier.com

/* Restrict the width of wide screens to match banner image */
@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), 
       url("http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff")
	   format("woff");
}

body {  /* Free community content from http://wallpaperswide.com/railroad_tracks-wallpapers.html*/ 
  font-family: Ubuntu, 'Liberation Sans', sans-serif;
  -ms-overflow-style: scrollbar; /* To cancel auto-hiding in IEv10 */
  background: url('/shared/rail.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	color: rgb(101, 162, 51); 
/*
	color: rgb(125, 194, 67);
	text-shadow: 1px 1px 1px #222;
*/
}
h1 {
  margin-top: 18px;
  margin-bottom: 2px;
	font-size: 20px;
	font-weight: bold;
}

h2 {
  margin-top: 18px;
  margin-bottom: 2px;
	font-size: 16px;
	font-weight: bold;
}
h3 {
  margin-top: 14px;
  margin-bottom: 2px;
	font-size: 14px;
	font-weight: bold;
}

h4 {
  margin-top: 14px;
  margin-bottom: 2px;
	font-size: 14px;
}
hr {
  color: #AAA;
  background-color: #AAA;
  height: 2px;
}
p a, div.row ul li a, h2 a, h5 a { /* div.row to exclude navbar */
	color: rgb(80, 128, 40);
	 !importantunderline;
}

ul {
  list-style-type: square;
  -webkit-padding-start: 20px;
}

.tt {
  font-family: monospace;
}

.container {
  overflow: hidden;
  background-color: #ffe;
}

.banner {
   width: 970px;
   height: 250px;
   margin-left: -15px;
   margin-bottom: -55px;
}

.logo {
  position: absolute; 
  width: 64px;
  height: 64px;
  margin-top: -180px;
	-webkit-filter: drop-shadow(1px 1px 1px black); filter: drop-shadow(1px 1px 1px black);
}

.logo_text {
  position: absolute; 
  margin-top: -150px;
  margin-left: 68px;
  font-size: 30px;
  /* color: rgb(101, 162, 51); /* Same hue but darker than Open Rails logo */
  color: rgb(125, 194, 67);
	text-shadow: 1px 1px 1px black;
}

.next_banner {
  position: absolute; 
  margin-top: 10px;
  margin-left: 930px;
  color: rgb(125, 194, 67);
	text-shadow: 1px 1px 1px black;
}

.top_left_footer {
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}

.top_right_footer {
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}

.footer_column {
  margin-top: 2em;
  margin-bottom: 15px;
	padding: 1em;
	background-image: linear-gradient(to bottom,#444 0,#111 100%);
	color: white;
	height: 230px;
}
.footer_column a {
  color: white;
}

.footer_column ul {
  list-style-type: none;
	padding-left: 0;
}
.footer_column ul li {
	padding-bottom: 5px;
}

.footer_column ul li a {
	color: white !important;
	text-decoration: none !important;
	font-size: 11px;
}
.footer_column ul li a:hover {
	text-decoration: underline !important;
}

/* For less tall navbars */
.navbar-brand > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}

table.staff tr td {
  padding: 0 5px;
}

p img {
  border:#999 medium solid;
}
.cancel_button {
  background-color: white;
	white-space: normal; /* Override Bootstrap's white-space:no-wrap; */ 
  margin-bottom: 6px;
}
.download_button {
  background-color: #7DC243;
	white-space: normal; /* Override Bootstrap's white-space:no-wrap; */ 
  margin-bottom: 6px;
}
.download_button:hover {
  background-color: rgb(107,170,55);
}
.download_button h2 {
  color: white;
  margin-top: 16px;
  margin-bottom: 4px;
}
.download_button p {
	font-size: 0.8em;
  color: black;
}

.ohloh_tall {
  width: 334px;
	height: 190px;
  background-color: white;
}
.ohloh_short {
  width: 334px;
	height: 148px;
  background-color: white;
}
.next_snippet {
  position: absolute; 
  margin-top: 30px;
  margin-left: 300px;
  color: rgb(125, 194, 67);
	text-shadow: 1px 1px 1px black;
}

