<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ORTS.TrackViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ORTS.TrackViewer.Properties.Settings>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="installDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultRoute" serializeAs="String">
                <value />
            </setting>
            <setting name="doAntiAliasing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showScaleRuler" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useMilesNotMeters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showWorldTiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showInset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showLonLat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showGridLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="zoomOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="zoomOffsetZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="zoomScale" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="zoomIsCenteredOnMouse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="zoomRoutePath" serializeAs="String">
                <value />
            </setting>
            <setting name="backgroundColorName" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="colorTracks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTrackHighlights" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showItemHighlights" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showSidingMarkers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showSidingNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showPlatformMarkers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showPlatformNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showStationNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showCrossings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showSpeedLimits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showMileposts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showSignals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showAllSignals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showJunctionNodes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showEndNodes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="drawRoads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showCarSpawners" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showCrossovers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showRoadCrossings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showHazards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showPickups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showSoundRegions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showLabels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showPATfile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showTrainpath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="highlightLastPathSection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showEditorAction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pgupExtendsPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="terrainReductionFactor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="statusShowVectorSections" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusShowPATfile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusShowTrainpath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusShowFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusShowNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusShowTerrain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusShowSignal" serializeAs="String">
                <value>False</value>
            </setting>
        </ORTS.TrackViewer.Properties.Settings>
    </userSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
