
/* Developer: Used as help for cells alignment*/
/*td{
	border: blue 1px solid;
}*/

div, th { text-align: center; }
table { margin: auto; }
tr td { text-align: right;}
.gauge {  background-color: rgba(233, 233, 49, 0.568); }
td { padding: 2px; }