/* index.css */

.container {
  background-color: #ffe;
}

.header {
  height: 150px;
  background-image: linear-gradient(to bottom,#bbb 0,#ffe 100%);
  color: #222;
}
.totally_free_software {
  position: absolute;
  width: 249px;
  height: 143px;
  margin-top: 0px;
  margin-left: -15px;
  -webkit-filter: drop-shadow(1px 0px 1px black); filter: drop-shadow(1px 0px 1px black);
}
.logo {
  position: absolute;
  width: 64px;
  height: 64px;
  margin-top: 40px;
  margin-left: 200px;
}

.logo_text {
  position: absolute;
  margin-top: 70px;
  margin-left: 268px;
  font-size: 30px;
  color: #7DC243;
}

.since_last_visit {
  position: absolute;
	width: 10em;
  margin-top: 50px;
  margin-left: 10px;
}

.focus_image {
   width: 970px;
   height: 250px;
   margin-left: -15px;
   margin-top: -10px;
}

.description{
  font-size: 1.2em;
  width: 23em;
	padding: 1em;
	border-radius: 1em;
	background-color: #ffe;
	color: black;
	opacity: 0.8;
}
a.download_button, a.download_button, :hover {
	color: black;
	text-decoration: none;
}
.download {
  margin-top: 1em;
}
.heading {
  padding: 1em;
	border-radius: 1em;
	background-color: #eee;
	margin-bottom: 1em;
}
.heading h4 {
	margin-top: 2px;
	font-size: 16px;
	color: #333;
}
.headed_content h5 {
	padding-top: 4px;
	margin-bottom: 4px;
	font-size: 13px;
	font-weight: bold;
	color: rgb(80, 128, 40);
}
.headed_content h5 a {
	text-decoration: underline;
	color: rgb(80, 128, 40);
}
.divider {
	margin-top: 1em;
	margin-bottom: 1em;
  border-right-width: 1px;
	border-right-color: #bbb;
	border-right-style: solid;
}
