<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="HTML via FastCGI" path="*.html" verb="*" modules="FastCgiModule" scriptProcessor="D:\php7411-nts\php-cgi.exe" resourceType="Unspecified" />
        </handlers>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="404" />
                </add>
            </traceFailedRequests>
        </tracing>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <staticContent>
            <clientCache cacheControlCustom="no-cache, max-age=86400" />
        </staticContent>
    </system.webServer>
    <location path="shared">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlCustom="max-age=604800" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
