<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmbedIO" version="3.4.3" targetFramework="net472" />
  <package id="RailDriver" version="0.7.10" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unosquare.Swan.Lite" version="3.0.0" targetFramework="net472" />
</packages>